@page "/"
@using Client.Edge
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.Features
@using System.Web

@inject IEdgeConnector EdgeConnector;
@inject NavigationManager NavigationManager;


<PageTitle>Idlenomics</PageTitle>

<div class="centered">
    @if (!@hasStarted)
    {
        <button class="btn btn-primary" @onclick="Start">Start</button>
    }
    else
    {
        <p role="status">Idlenomics coming soon!</p>
    }
</div>

@code {
    private const string GuestParamName = "guest";

    private bool hasStarted;

    private void Start()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        EdgeConnector.Connect(queryParams[GuestParamName]);

        hasStarted = true;
    }
}
