@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.Features
@using System.Web

@inject NavigationManager NavigationManager;

<PageTitle>Idlenomics</PageTitle>

<div class="centered">
    @if (!@hasStarted)
    {
        <button class="btn btn-primary" @onclick="Start">Start</button>
    }
    else
    {
        <p role="status">Idlenomics coming soon!</p>
    }
</div>

@code {
    private const string GuestParamName = "guest";

    private bool hasStarted;

    private async Task Start()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        // TODO :: Decode the guest param to authenticate with login, get the userId 
        //          from the login service.
        var userId = queryParams[GuestParamName];

        HubConnection hubConnection = new HubConnectionBuilder()
            .WithUrl(new Uri($"https://localhost:7285/clientHub?userId={userId}"))
            .Build();

        hubConnection.On<OnFeaturesUpdatedNotification>("OnFeaturesUpdated", notification =>
        {
            Console.WriteLine("Received updated features: ");
            foreach (var feature in notification.Features)
                Console.WriteLine($"Feature: {feature.Name}");
        });

        try
        {
            await hubConnection.StartAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

        hasStarted = true;
    }
}
