@page "/"
@using Client.Edge
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.Features
@using System.Web

@inject IEdgeConnector EdgeConnector;
@inject NavigationManager NavigationManager;


<PageTitle>Idlenomics</PageTitle>

@if (!@hasStarted)
{
    <div class="centered">
        <button class="btn btn-primary" @onclick="Start">Start</button>
    </div>
}
else
{
    <p>Current player value: @currentPlayerValue</p>
    <p>Current world value: @currentWorldValue</p>
}

@code {
    private const string GuestParamName = "guest";

    private bool hasStarted;
    private int currentPlayerValue;
    private int currentWorldValue;

    private void Start()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        EdgeConnector.Connect(queryParams[GuestParamName]);
        EdgeConnector.OnClientUpdate += update =>
        {
            currentPlayerValue = (int)update.ClientPlayerValue;
            currentWorldValue = (int)update.WorldValue;
            StateHasChanged();
        };

        hasStarted = true;
    }
}
